@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Footer Section */
.footer {
    height: 26vh;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.navLinksContainer {
    display: flex;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
}

.navLinks li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navLinks li a:hover {
    color: grey;
}

.navLinks li {
    list-style: none;
}

footer p {
    text-align: center;
    font-size: 1rem;
    color: #333;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .footer {
        height: 40vh;
        padding: 1rem;
    }
    
    .nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .navLinks {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .navLinks li a {
        font-size: 1rem;
    }
}