.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #FAF9F6;
    overflow: auto;
}

.header {
    text-align: center;
    width: 100%;
}

.title {
    font-size: 2rem;
}