<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0YP46XG350"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-0YP46XG350');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home-styles.css?=2.0">
    <title>Caden Jurkovski</title>
</head>
<body>
  <script>0</script> <!-- Stops flash of unstyled content-->
    <nav id="desktop-nav">
        <div class="logo">Caden Jurkovski</div>
        <div>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <!-- <li><a href="#experience">Experience</a></li> -->
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <nav id="hamburger-nav">
        <div class="logo">Caden Jurkovski</div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <li><a href="#about" onclick="toggleMenu()">About</a></li>
                <!-- <li><a href="#experience" onclick="toggleMenu()">Experience</a></li> -->
                <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
                <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
            </div>
        </div>
    </nav>
    <section id="profile">
        <div class="section__pic-container">
            <img src="./assets/Headshot.png" alt="Caden Jurkovski Headshot Picture">
        </div>
        <div class="section__text">
            <p class="section__text__p1">Hello, I'm</p>
            <h1 class="title">Caden Jurkovski</h1>
            <p class="section__text__p2">Aspiring Computer Scientist</p>
            <div class="btn-container">
                <button class="btn btn-color-2" 
                onclick="window.open('./assets/Caden_Jurkovski_Resume.pdf')">
                    Download CV
                </button>
                <button class="btn btn-color-1" 
                onclick="location.href='./#contact'">
                    Contact Info
                </button>
            </div>
            <div id="socials-container">
                <img src="./assets/linkedin.png" alt="My LinkedIn Profile"
                class="icon" onclick="location.href='https://www.linkedin.com/in/caden-jurkovski-944638212/'">
                <img src="./assets/github.png" alt="My GitHub Profile"
                class="icon" onclick="location.href='https://github.com/cyphercrit/'">
            </div>
        </div>
    </section>
    <section id="about">
        <p class="section__text__p1">Get to Know More</p>
        <h1 class="title">About Me</h1>
        <div class="section-container">
            <div class="section__pic-container">
                <img src="./assets/About_Me.png" alt="Profile Picture"
                class="about-pic">
            </div>
            <div class="about-details-container">
                <div class="about-containers">
                  <div class="details-container-interests">
                    <img
                      src="./assets/interests.png"
                      alt="Interests Icon"
                      class="icon about-icon interests-icon"
                    />
                    <h3>Interests</h3>
                    <p><ul>
                      <li>Software Engineering</li>
                      <li>Artificial Intelligence</li>
                      <li>Cybersecurity</li>
                    </ul></p>
                  </div>
                  <div class="details-container">
                    <img
                      src="./assets/education.png"
                      alt="Education Icon"
                      class="icon about-icon education-icon"
                    />
                    <h3>Education</h3>
                    <p>B.S. Computer Science & Mathematics <em>(ongoing)</em><br> University of Minnesota - Twin Cities<br />Sep. 2022 – Dec. 2026</p>
                  </div>
                </div>
                <div class="text-container">
                  <p>Hey! Judging by what this site is all about, you can probably guess that my name is Caden. A little bit about me– I am currently in my 3rd year of schooling, and some of the things that I am studying right now are computer architecture and functional progamming. Outside of school, I find enjoyment in activities such as reading, kayaking and camping with friends. I am always eager to apply what I am learning in the real world or through projects, and I love trying new things and learning new skills.<br><br>The whole purpose of this site is to serve as some sort of hub to organize my professional experiences, projects, and anything else that I might find of value in one place. I'm actively working on expanding my knowledge and gaining hands-on experience with whatever comes my way. Feel free to connect with me if you share similar interests or have insights to share! <b></b></p>
                </div>
              </div>
            </div>
            <img
              src="./assets/arrow.png"
              alt="Arrow icon"
              class="icon arrow"
              onclick="location.href='./#projects'"
            />
      </section>
      <section id="projects">
        <p class="section__text__p1">Browse My Recent</p>
        <h1 class="title">Projects</h1>
        <div class="experience-details-container">
          <div class="about-containers">
            <div class="details-container color-container">
              <div class="article-container">
                <img
                  src="./assets/derivative_grapher_demo.png"
                  alt="Derivative Grapher Image"
                  class="project-img"
                />
              </div>
              <h2 class="experience-sub-title project-title">Graphing Derivatives</h2>
              <div class="btn-container">
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="location.href='https://github.com/cyphercrit/graphing-derivatives'"
                >
                  Github
                </button>
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="location.href='https://jurkovski.com/projects/graphing-derivatives'"
                >
                  Live Demo
                </button>
              </div>
            </div>
          </div>
        </div>
        <img
              src="./assets/arrow.png"
              alt="Arrow icon"
              class="icon arrow"
              onclick="location.href='./#contact'"
            />
      </section>
            <section id="contact">
                <p class="section__text__p1">Get in Touch</p>
                <h1 class="title">Contact Me</h1>
                <div class="contact-info-upper-container">
                  <div class="contact-info-container">
                    <img
                      src="./assets/email.png"
                      alt="Email Icon"
                      class="icon contact-icon email-icon"
                    />
                    <p><a href="mailto:caden@jurkovski.com">caden@jurkovski.com</a></p>
                  </div>
                  <div class="contact-info-container">
                    <img
                      src="./assets/linkedin.png"
                      alt="LinkedIn Icon"
                      class="icon contact-icon"
                    />
                    <p><a href="https://www.linkedin.com/in/caden-jurkovski-944638212">LinkedIn</a></p>
                  </div>
                </div>
              </section>
              <footer>
                <nav>
                    <div class="nav-links-container">
                        <ul class="nav-links">
                            <li><a href="#about">About</a></li>
                            <!-- <li><a href="#experience">Experience</a></li> -->
                            <li><a href="#projects">Projects</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <p>Copyright &#169 2024 Caden Jurkovski. All Rights Reserved.</p>
              </footer>
    <script src="scripts/home-script.js"></script>
</body>
</html>